header p
{
    font-size: 10px;
}

ul 
{
    list-style: none;
}

.num-form
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.num-form ul 
{
    text-align: right;
    display: flex;
}

.result-text
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height:30px;
}
.result-text ul 
{
    text-align: left;
    display: flex;
    
}

.result-text p
{
    font-size: 25px;
}